%h1
	=@quiz.name
	
.panel.radius
	= @question.content
	%ol{:type => "a"}
		- @question.answers.each do |answer|
			.sub-panel.top-padding.green-hover
				%li.padding-left= link_to "#{answer.content}", submit_answer_path(@quiz, answer_id: answer.id, question_id: @question.id, course_id: @course_id)
		

